body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height:100%
    
}

main{
    flex-grow: 1;
    text-shadow: 1px 1px rgb(219, 219, 219);
}

header{
height: 100px
}

footer{
    height: 75px;
}

.row-height{
    height: 400px;
}

.bg-table{
    background-image: url("./playSpace.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%
}