body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    height:100%
    
}

main{
    flex-grow: 1;
    text-shadow: 1px 1px rgb(219, 219, 219);
}

header{
height: 75px
}

footer{
    height: 50px;
}

img{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.row-height{
    height: 350px;
}

.bg-table{
    background-image: url("./playSpace.jpg");
    background-size: cover;
    background-position: center center;
    height: 100%
}

.btn-width{
    width: 100px;
}

.f-w{
    width: 200px;
}